* {
box-sizing: border-box;
scrollbar-color: transparent transparent; /* thumb and track color */
scrollbar-width: 0px;
}

*::-webkit-scrollbar {
width: 0;
}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background: transparent;
border: none;
}

* {
    -ms-overflow-style: none;
  }
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: #e6dbc6;
    font-family: 'Marck Script', cursive;
    color: #666161;
}

.main-container {
    min-width: 400px;
    margin: 0 auto;
    max-width: 1280px;
    background: #D9D9D9;
    padding: 32px;
    min-height: 1000px;
    border-radius: 35px;
    border: 1px solid #000;
}

.header {
    background: none;
    color: #fff;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.header_menu {
    width: 85%;
    margin-right: 32px;
}

.header_menu-list {
    display: flex;
    justify-content: end;
}

.header_menu-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.header_menu-red-line {
    height: 20px;
    max-width: 1200px;
    background: #813f30;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: 32px;
}

.header_menu-btn-list ul {
    list-style: none;
    padding-left: 16px;
}

.header_menu-btn-list ul li {
    margin: 24px 0;
    font-size: 26px;
    display: flex;
}

.header_menu-btn-list {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    height: 0;
    right: 0;
    transition: all 400ms;
    background: #666161;
    width: 250px;
    border-radius: 0 0 9px 9px;
    box-shadow: 6px 19px 23px 1px rgb(121, 121, 121);
}

.page-main__gallery-text-wrapper a {
    color: #F5BB02;
}

.location-description-text-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    text-shadow: #000 0px 2px 1px;
}

.header_menu-btn-list-wrapper.header_menu-btn-list-wrapper--show  .header_menu-btn-list {
    visibility: visible;
    height: 200px;
}

.header_menu-btn-list-wrapper {
    visibility: hidden;
    height: 0;
    z-index: 1;
    position: relative;
    transition: all 300ms;
}

.header_menu-btn-list-wrapper--show {
    visibility: visible;
    height: 200px;
}

.header_menu-list {
    display: none;
    background: #666161;
    border-radius: 35px;
    box-shadow: 3px 3px 13px 3px rgb(121, 121, 121);
}

.header_menu-list-pizza-riiska-figure {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.header_menu-list-pizza-riiska-figure-item {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.header_menu-list-pizza-riiska-figure-item--orange {
    background: #F5BB02;
}

.header_menu-list-pizza-riiska-figure-item--green {
    background: #3FC703;
}

.header_menu-list ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    margin-right: 10%;
}

.header_menu-list ul li {
    margin: 0 16px;
    padding: 4px 8px;
    border-radius: 9px;
    transition: all .5s;
    display: flex;
    cursor: pointer;
}
.header_menu-list ul li:hover {
    background: #FDF4DD;
    color: #666161;
}

.header_logo img {
    width: auto;
    height: 150px;
}

.header_menu-btn {
    display: none;
    transition: .3s;
    height: 32px;
    width: 30px;
    box-sizing: border-box;
}

.header_menu-btn-line-wrapper {
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_menu-btn-line {
    height: 2px;
    width: 30px;
    background: #fff;
    margin: 4px 0;
    transition: all .3s;
} 

.header_menu-btn:hover .header_menu-btn-line {
    margin: 6px 0;
}

.header_menu-btn {
    position: relative;
    margin-right: 16px;
}

.page {
    display: none;
    min-height: 600px;
    margin: 32px 32px 0 32px;
}

.page--show {
    display: block;
}

.page-catalog__product-list {
    margin: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
} 

.page-catalog__poduct-card {
    width: 150px;
    border: 1px solid #b5adad;
    border-radius: 9px;
    padding: 8px;
}

.page-catalog__poduct-card-img-wrapper {
    display: flex;
    justify-content: center;
}

.page-catalog__poduct-card-name {
    text-align: center;
    margin: 8px 0;
}

.page-catalog__poduct-card-img {
    height: 100px;
}

.page-catalog__search {
    margin: 16px;
    display: flex;
}

.page-catalog__search-input {
    padding: 8px 16px;
    border-radius: 9px;
    min-width: 100px;
}

.page-catalog__search-btn {
    display: none;
    background: #000;
    border-radius: 9px;
    margin-left: 8px;
    border: none;
    color: #fff;
    width: 70px;
}

.page-catalog__search-btn:hover {
    opacity: 0.7;
}

.page-history__container-description,
.page-pizza-riiska__location-description,
.page-delivery__location-description,
.page-main__location-description,
.page-main__gallery {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    max-width: 840px;
    margin: 0 auto;
}

.page-history__container-description-second,
.page-history__container-description-first,
.page-pizza-riiska__location-description-image,
.page-pizza-riiska__location-description-text,
.page-pizza-riiska__location-description-text,
.page-pizza-riiska__location-description-map,
.page-delivery__location-description-text,
.page-delivery__location-description-map,
.page-main__location-description-text,
.page-main__location-description-map,
.page-main__gallery-carousel,
.page-main__gallery-text-wrapper {
    background: #FDF4DD;
    overflow: hidden;
    border-radius: 21px;
    min-width: 360px;
    width:  360px;
    height: 320px;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 3px 3px 13px 3px rgb(121, 121, 121);
}

.page-pizza-riiska__location-description-image {
    overflow-y: hidden;
}

.page-history__container-description-second,
.page-history__container-description-first {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}
.page-history__container-description-photo {
    height: 260px;
    border-radius: 9px;
}

.page-history__container-description-underphoto-text {
    margin: 8px 32px 8px 32px;
}

.page-history__container-description-first--full-width {
    width: 100%;
    min-width: 750px;
    height: 100px;
}

.page-pizza-riiska__location-description-img {
    height: 320px;
    position: relative;
}

.page-pizza-riiska__location-description-img--mt {
    width: 360px;
    height: auto;
    margin-top: -100px;
    position: relative;
}

.page-pizza-riiska__location-description-text,
.page-delivery__location-description-text,
.page-main__location-description-text,
.page-main__gallery-text-wrapper {
    padding: 16px;
    font-size: 20px;
}

.page-main__gallery-text-wrapper p {
    margin-left: 8px;
}

.page-history__container,
.page-main__gallery,
.page-pizza-riiska__location,
.page-delivery__location,
.page-main__location {
    margin-top: 32px;
    width: 100%;
}

.page-history__container-title,
.page-main__gallery__location-title,
.page-pizza-riiska__location-title,
.page-delivery__location-title,
.page-main__location-title {
    width: 500px;
    text-align: center;
    min-height: 44px;
    background: #FDF4DD;
    font-size: 32px;
    border-radius: 32px;
    box-shadow: 3px 3px 13px 3px rgb(121, 121, 121);
    padding: 4px 16px;
    text-shadow: #000 0px 2px 1px;
}

.page-pizza-riiska__location-title {
    display: flex;
    justify-content: center;
}
.page-history {
    font-size: 18px;
}

.page-history__container-description-second--flex-start {
    justify-content: flex-start;
}

.page-history__container-description-main-text {
    text-shadow: #000 0px 1px 1px;
}

.page-history__container-title-wrap,
.page-main__gallery__location-title-wrap,
.page-pizza-riiska__location-title-wrap,
.page-delivery__location-title-wrap,
.page-main__location-title-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-pizza-riiska__location-title-wrap--mrt {
    margin-top: 32px;
}

.page-pizza-riiska__location-title-pizza {
    font-family: Arial, Helvetica, sans-serif;
}

.page-pizza-riiska__location-title-pizza--text-new {
    font-family: 'Marck Script', cursive;
}

.page-main__location-description {
    margin-top: 32px;
}

.page-footer {
    min-height: 200px;
    width: 100%;
    margin-top: 32px;
    border-radius: 21px;
    background: #FDF4DD;
    box-shadow: 3px 3px 13px 3px rgb(121, 121, 121);
}

.page-history__container-description,
.page-pizza-riiska__location-description,
.page-delivery__location-description {
    margin-top: 32px;
}

.footer-contacts {
    text-align: left;
    margin: 16px;
}

.footer-contacts__list-contact {
    font-family: Arial, Helvetica, sans-serif;
}

.page-pizza-riiska__card {
    padding: 8px;
    background: #FDF4DD;
    width: 200px;
    position: relative;
    overflow: hidden;
    max-height: 500px;
    border-radius: 9px;
    box-shadow: 3px 3px 13px 3px rgb(121, 121, 121);
}

.page-pizza-riiska__card-title {
    text-align: center;
    margin: 8px 0;
}

.page-pizza-riiska__card-img {
    width: 170px;
    border-radius: 9px;
}

.page-pizza-riiska__card-description {
    margin: 8px 0;
    min-height: 125px;
}

.page-pizza-riiska__card-img-wrap {
    display: flex;
    justify-content: center;
}

.page-pizza-riiska__card-list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.page-pizza-riiska__card-description-info {
    margin: 8px 0;
    text-align: right;
}
/* mobile */

@media screen and (max-width: 900px) {
    .header_menu-list ul li {
        margin: 0 8px;
        padding: 4px 8px;
        border-radius: 9px;
        transition: all .3s;
    }
    .header_menu-list ul {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .page-footer {
        border-radius: 0;
    }
    .main-container {
        min-width: 320px;
        border-radius: 0;
        border: none;
    }
    .page-pizza-riiska__card {
        width: 300px;
    }
    .footer-contacts {
        text-align: center;
    }
    .page {
        min-height: 1000px;
    }
    .header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: 60px;
        background: #666161;
        justify-content: space-between;
        box-shadow: 3px 3px 13px 3px rgb(121, 121, 121);
    }

    .main-container {
        padding: 0;
    }

    .header_logo {
        position: static;
        margin-left: 16px;
    }

    .header_logo img {
        width: auto;
        height: 50px;
    }

    .header_menu {
        margin-right: 0px;
    }

    .header_menu-red-line{
        display: none;
    }
    .header_menu-btn {
        display: block;
    }
    
    .header_menu-wrapper {
        width: auto;
    }

    .page-pizza-riiska__location-description:nth-child(2) {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .page-history__container-description,
    .page-pizza-riiska__location-description:nth-child(1),
    .page-delivery__location-description,
    .page-main__location-description {
        justify-content: center;
        flex-wrap: wrap;
    }

    .page-main__gallery {
        justify-content: center;
        flex-wrap: wrap-reverse;
    }

    .page-history__container-description-second,
    .page-history__container-description-first,
    .page-pizza-riiska__location-description-image,
    .page-pizza-riiska__location-description-text,
    .page-pizza-riiska__location-description-text,
    .page-pizza-riiska__location-description-map,
    .page-delivery__location-description-text,
    .page-delivery__location-description-map,
    .page-main__location-description-text,
    .page-main__location-description-map,
    .page-main__gallery-carousel,
    .page-main__gallery-text-wrapper {
        width: 340px;
        min-width: 300px;
        box-sizing: border-box;
    }
    
    .page-history__container-description-first--full-width {
        height: 250px;
    }

    .page-main__gallery-carousel {
        height: 233px;
    }

    .carousel__snapper-img {
        width: 350px;
    }
    .page-delivery__location-description-map iframe,
    .page-main__location-description-map iframe {
        width: 340px;
    }
}
/* desktop */
@media screen and (min-width: 601px) {
    .main-container {
        margin-top: 32px;
        min-width: 880px;
        box-shadow: 3px 3px 13px 3px rgb(121, 121, 121);
    }

    .carousel__snapper-img {
        width: 400px;
    }

    .header_menu-list {
        display: flex;
        justify-content: end;
    }
}