.carousel__snapper-img {
  height: 320px;
  margin-top: -16px;
  margin-left: -40px;
}

.carousel {
  position: relative;
}
.carousel .flex-direction-nav {
  position: absolute;
  top: 130px;
  display: flex;
  justify-content: space-between;
}

.carousel .flex-nav-next::marker,
.carousel .flex-nav-prev::marker {
  display: none;
}

.carousel .flex-nav-next {
  position: absolute;
  right: -260px;
}

.carousel .flex-nav-prev::marker {
  display: none;
}

@media screen and (max-width: 600px) {
  .carousel__snapper-img {
    height: 233px;
  }
}